################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DK.Serilog.Demo/bin/Debug/net6.0
/DK.Serilog.Demo/obj
/DK.Serilog.Demo.Services/bin/Debug/net6.0
/DK.Serilog.Demo.Services/obj
